.App {
    text-align: center;
    height: 100%;
}

.Header {
    display: inline-block;
    min-width: 100%;
    text-align: center;
    background-color: black;
    height: 100px;
    align-items: center;
    color: white;
}

.Brand {
    display: inline-flex;
    min-width: 25%;
    vertical-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.Brand h1 {
    margin-left: 10%;
}

.NavMenu {
    display: inline-flex;
    min-width: 50%;
    text-align: center;
    vertical-align: center;
    font-size: 12px;
}

.NavMenu .text-item {
    display: inline-block;
    min-width: 8%;
    margin-right: 2%;
}

.NavMenu .text-item:hover {
    cursor: pointer;
}

.Socials {
    min-width: 25%;
    display: inline-flex;
    margin-right: 5%;
    margin-left: 3%;
}

.Socials .text-item {
    display: inline-block;
    min-width: 4%;
    margin-right: 0.25%;
}

